@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title.</h3>

<p>You have important promises to deliver to your customers. Our mission is to allow your business to thrive by providing reliable and stable services that link you to your key markets. We believe that shipping should be simple and the least of your worries. On these pages you can read how we help propel the ambition of customers all over the world – and connect people with opportunities.</p>
